<footer class="container-fluid bg-dark text-light fixed-bottom mt-3">
	<div class="row">
		<section class="col">Colonne 1</section>
		<section class="col">Collone 2</section>
		<section class="col">Collone 3</section>
	</div>
</footer>
